@media screen and (max-width: 1200px) and (min-width: 760px) {
  .header {
    width: 100%;
    height: 100px;
    @include flex-center;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;

    &__container {
      width: 80%;
      height: 100%;
      @include flex-between;
    }

    &__title {
      @include title;
    }
  }

  .form-search {
    @include flex-center;

    &__input {
      width: 160px;
      padding: 5px;
      @include h6;

      &-btn {
        @include h6;
        width: 70px;
        padding: 5px;
        margin-left: 8px;
      }
    }
  }

  .nav {
    @include flex-center;

    &__list {
      list-style: none;
      @include flex-center;
    }

    &__item {
      margin-left: 26px;
    }

    &__link {
      text-decoration: none;
      @include h5;
      color: $black;
      transition: .1s;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }



  main {
    width: 100%;
    @include flex-center;
    flex-direction: column;
  }

  .main-sec {
    width: 100%;
    height: 860px;
    @include flex-center;

    &__content-block {
      width: 80%;
      height: 100%;
      @include flex-center;
      flex-direction: column;
    }

    &__text-content {
      width: 100%;
      @include flex-center;
      flex-direction: column;
    }

    &__title {
      @include h1;
      margin-bottom: 25px;
    }

    &__desc {
      @include h5;
      margin-bottom: 25px;
    }

    &__link {
      @include h4;
      color: $black;
      text-decoration: none;
      border: 1px solid none;
      background-color: $bg-blue;
      border-radius: 8px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: .3s;
      margin-bottom: 60px;

      &:hover {
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
      }
    }

    &__img-content {
      width: 100%;
      @include flex-center;
    }

    &__img {
      width: 100%;
      height: auto;
    }
  }


  .sec-desc {
    width: 100%;
    @include flex-center;
    background-color: $bg-blue;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);

    &__content-block {
      width: 80%;
      padding-top: 60px;
      padding-bottom: 60px;
      @include flex-center;
      flex-direction: column;
      text-align: center;
    }

    &__title {
      @include h2;
      margin-bottom: 25px;
    }

    &__desc {
      @include h5;
    }
  }


  .sec-stack {
    width: 100%;
    @include flex-center;

    &__content-block {
      width: 80%;
      padding-top: 60px;
      padding-bottom: 60px;
      @include flex-center;
      flex-direction: column;
    }

    &__title {
      @include h2;
      margin-bottom: 25px;
    }

    &__img-block {
      width: 100%;
      @include flex-between;
    }

    &__img {
      width: 15%;
      height: auto;
    }
  }


  .sec-video {
    width: 100%;
    height: auto;
    @include flex-center;

    &__video {
      width: 100%;
      height: auto;
    }
  }
}
