@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    height: 100px;
    @include flex-center;
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;

    &__container {
      width: 80%;
      height: 100%;
      @include flex-between;
    }

    &__title {
      @include title;
    }
  }

  .form-search {
    @include flex-center;

    &__input {
      width: 160px;
      padding: 5px;
      @include h6;

      &-btn {
        @include h6;
        width: 70px;
        padding: 5px;
        margin-left: 8px;
      }
    }
  }

  .nav {
    @include flex-center;

    &__list {
      list-style: none;
      @include flex-center;
    }

    &__item {
      margin-left: 26px;
    }

    &__link {
      text-decoration: none;
      @include h5;
      color: $black;
      transition: .1s;

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }



  main {
    width: 100%;
    @include flex-center;
    flex-direction: column;
  }

  .main-section {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    background-color: $bg-color;

    &__container {
      width: 60%;
      @include flex-start;
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 60px;
    }

    &__title {
      @include h2;
    }
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    @include flex-start;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;

    &__title {
      @include h3;
      margin-bottom: 8px;
    }

    &__list {
      list-style: none;
      @include flex-start;
      flex-direction: column;
      width: 100%;
      &-bg-red {
        background-color: $bg-red;
      }
      &-bg-green {
        background-color: $bg-green;
      }
      &-bg-orng {
        background-color: $bg-orng;
      }
      &-bg-blue {
        background-color: $bg-blue;
        margin-top: 8px;
      }
    }

    &__item {
      width: 100%;
      @include h5;
      border: 0px solid none;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 2px solid $bg-color;
    }
  }

  .form {
    width: 100%;
    @include flex-start;
    flex-direction: column;
    margin-top: 60px;

    &__title {
      @include h3;
    }

    &__label {
      @include h5;
      margin-top: 15px;
    }

    &__input {
      width: 320px;
      padding: 5px;
      padding-left: 10px;
      @include h5;
      margin-top: 5px;

      &-select, &-btn {
        width: 340px;
        margin-top: 15px;
      }
    }
  }
}
