@mixin h1 {
  font: {
    size: 58px;
    weight: 600;
    family: 'Raleway', sans-serif;
  }
  line-height: 68px;
}

@mixin h1-mobile {
  font: {
    size: 48px;
    weight: 600;
    family: 'Raleway', sans-serif;
  }
  line-height: 58px;
}

@mixin h2 {
  font: {
    size: 38px;
    weight: 500;
    family: 'Raleway', sans-serif;
  }
  line-height: 48px;
}

@mixin h2-mobile {
  font: {
    size: 28px;
    weight: 500;
    family: 'Raleway', sans-serif;
  }
  line-height: 38px;
}

@mixin h3 {
  font: {
    size: 28px;
    weight: 400;
    family: 'Raleway', sans-serif;
  }
  line-height: 38px;
}

@mixin h3-mobile {
  font: {
    size: 22px;
    weight: 400;
    family: 'Raleway', sans-serif;
  }
  line-height: 32px;
}

@mixin h4 {
  font: {
    size: 24px;
    weight: 400;
    family: 'Raleway', sans-serif;
  }
  line-height: 34px;
}

@mixin h4-mobile {
  font: {
    size: 20px;
    weight: 400;
    family: 'Raleway', sans-serif;
  }
  line-height: 30px;
}

@mixin h5 {
  font: {
    size: 20px;
    weight: 500;
    family: 'Raleway', sans-serif;
  }
  line-height: 30px;
}

@mixin h5-mobile {
  font: {
    size: 18px;
    weight: 500;
    family: 'Raleway', sans-serif;
  }
  line-height: 28px;
}

@mixin h6 {
  font: {
    size: 16px;
    weight: 500;
    family: 'Raleway', sans-serif;
  }
  line-height: 30px;
}

@mixin title {
  font: {
    size: 28px;
    weight: 600;
    family: 'Raleway', sans-serif;
  }
  line-height: 30px;
}


@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
