@media print {
  @page {
    margin: 2cm;
  }



  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-family: 'Raleway', sans-serif;
  }



  .header {
    display: none;
  }



  .main {
    width: 100%;
    @include flex-center;
    flex-direction: column;
  }

  .main-section {
    width: 100%;
    @include flex-center;
    flex-direction: column;

    &__container {
      width: 100%;
      @include flex-start;
      flex-direction: column;
    }

    &__title {
      font-style: 24pt;
      margin-bottom: 0.5cm;
      font-weight: 600;
    }
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    @include flex-start;
    flex-direction: column;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;

    &__title {
      font-style: 20pt;
      margin-bottom: 0.3cm;
      font-weight: 500;
    }

    &__list {
      @include flex-start;
      flex-direction: column;
    }

    &__item {
      font-size: 14pt;
      padding-left: 1.5cm;
      font-weight: 400;
      margin-bottom: 0.3cm;
    }
  }



  .form {
    display: none;
  }
}
