@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');
@import "mixins";
@import "colors";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}



@import "media-2560";
@import "media-1200";
@import "media-760";
@import "media-480";

@import "print";
