@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: #F9F9F9;
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-search__input {
    width: 160px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }
  .form-search__input-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    width: 70px;
    padding: 5px;
    margin-left: 8px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-sec {
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__content-block {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-sec__text-content {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__title {
    font-size: 58px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .main-sec__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .main-sec__link {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    color: #000;
    text-decoration: none;
    border: 1px solid none;
    background-color: #66BFFF;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main-sec__link:hover {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .main-sec__img-content {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__img {
    width: 100%;
    height: auto;
  }

  .sec-desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #66BFFF;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .sec-desc__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sec-desc__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-desc__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .sec-stack {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-stack__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-stack__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-stack__img-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec-stack__img {
    width: 15%;
    height: auto;
  }

  .sec-video {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-video__video {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 1200px) and (min-width: 760px) {
  .header {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-search__input {
    width: 160px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }
  .form-search__input-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    width: 70px;
    padding: 5px;
    margin-left: 8px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-sec {
    width: 100%;
    height: 860px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__content-block {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__text-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__title {
    font-size: 58px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .main-sec__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .main-sec__link {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    color: #000;
    text-decoration: none;
    border: 1px solid none;
    background-color: #66BFFF;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 60px;
  }
  .main-sec__link:hover {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .main-sec__img-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__img {
    width: 100%;
    height: auto;
  }

  .sec-desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #66BFFF;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .sec-desc__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sec-desc__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-desc__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .sec-stack {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-stack__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-stack__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-stack__img-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec-stack__img {
    width: 15%;
    height: auto;
  }

  .sec-video {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-video__video {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 760px) and (min-width: 480px) {
  .header {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-sec {
    width: 100%;
    height: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__content-block {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__text-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__title {
    font-size: 58px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .main-sec__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-sec__link {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    color: #000;
    text-decoration: none;
    border: 1px solid none;
    background-color: #66BFFF;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 60px;
  }
  .main-sec__link:hover {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .main-sec__img-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__img {
    width: 100%;
    height: auto;
  }

  .sec-desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #66BFFF;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .sec-desc__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sec-desc__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-desc__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .sec-stack {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-stack__content-block {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-stack__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-stack__img-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec-stack__img {
    width: 15%;
    height: auto;
  }

  .sec-video {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-video__video {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-sec {
    width: 100%;
    height: 760px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__content-block {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__text-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-sec__title {
    font-size: 58px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .main-sec__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-sec__link {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 34px;
    color: #000;
    text-decoration: none;
    border: 1px solid none;
    background-color: #66BFFF;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    margin-bottom: 60px;
  }
  .main-sec__link:hover {
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .main-sec__img-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-sec__img {
    width: 100%;
    height: auto;
  }

  .sec-desc {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #66BFFF;
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.07);
  }
  .sec-desc__content-block {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sec-desc__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-desc__desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .sec-stack {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-stack__content-block {
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-stack__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
    margin-bottom: 25px;
  }
  .sec-stack__img-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec-stack__img {
    width: 15%;
    height: auto;
  }

  .sec-video {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-video__video {
    width: 100%;
    height: auto;
  }
}
