@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .header {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-search__input {
    width: 160px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }
  .form-search__input-btn {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    width: 70px;
    padding: 5px;
    margin-left: 8px;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F9F9F9;
  }
  .main-section__container {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-section__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .projects-column__title, .tasks-column__title, .workers-column__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .projects-column__list, .tasks-column__list, .workers-column__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .projects-column__list-bg-red, .tasks-column__list-bg-red, .workers-column__list-bg-red {
    background-color: #FF5959;
  }
  .projects-column__list-bg-green, .tasks-column__list-bg-green, .workers-column__list-bg-green {
    background-color: #3FFF56;
  }
  .projects-column__list-bg-orng, .tasks-column__list-bg-orng, .workers-column__list-bg-orng {
    background-color: #FF9554;
  }
  .projects-column__list-bg-blue, .tasks-column__list-bg-blue, .workers-column__list-bg-blue {
    background-color: #66BFFF;
    margin-top: 8px;
  }
  .projects-column__item, .tasks-column__item, .workers-column__item {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    border: 0px solid none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #F9F9F9;
  }

  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .form__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
  }
  .form__label {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 15px;
  }
  .form__input {
    width: 320px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 5px;
  }
  .form__input-select, .form__input-btn {
    width: 340px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 760px) {
  .header {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F9F9F9;
  }
  .main-section__container {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-section__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .projects-column__title, .tasks-column__title, .workers-column__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .projects-column__list, .tasks-column__list, .workers-column__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .projects-column__list-bg-red, .tasks-column__list-bg-red, .workers-column__list-bg-red {
    background-color: #FF5959;
  }
  .projects-column__list-bg-green, .tasks-column__list-bg-green, .workers-column__list-bg-green {
    background-color: #3FFF56;
  }
  .projects-column__list-bg-orng, .tasks-column__list-bg-orng, .workers-column__list-bg-orng {
    background-color: #FF9554;
  }
  .projects-column__list-bg-blue, .tasks-column__list-bg-blue, .workers-column__list-bg-blue {
    background-color: #66BFFF;
    margin-top: 8px;
  }
  .projects-column__item, .tasks-column__item, .workers-column__item {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    border: 0px solid none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #F9F9F9;
  }

  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .form__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
  }
  .form__label {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 15px;
  }
  .form__input {
    width: 320px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 5px;
  }
  .form__input-select, .form__input-btn {
    width: 340px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 760px) and (min-width: 480px) {
  .header {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F9F9F9;
  }
  .main-section__container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-section__title {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 48px;
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .projects-column__title, .tasks-column__title, .workers-column__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
    margin-bottom: 8px;
  }
  .projects-column__list, .tasks-column__list, .workers-column__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .projects-column__list-bg-red, .tasks-column__list-bg-red, .workers-column__list-bg-red {
    background-color: #FF5959;
  }
  .projects-column__list-bg-green, .tasks-column__list-bg-green, .workers-column__list-bg-green {
    background-color: #3FFF56;
  }
  .projects-column__list-bg-orng, .tasks-column__list-bg-orng, .workers-column__list-bg-orng {
    background-color: #FF9554;
  }
  .projects-column__list-bg-blue, .tasks-column__list-bg-blue, .workers-column__list-bg-blue {
    background-color: #66BFFF;
    margin-top: 8px;
  }
  .projects-column__item, .tasks-column__item, .workers-column__item {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    border: 0px solid none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #F9F9F9;
  }

  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .form__title {
    font-size: 28px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
  }
  .form__label {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 15px;
  }
  .form__input {
    width: 320px;
    padding: 5px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    margin-top: 5px;
  }
  .form__input-select, .form__input-btn {
    width: 340px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D8D8D8;
  }
  .header__container {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
  }

  .form-search {
    display: none;
  }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin-left: 26px;
  }
  .nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    color: #000;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .nav__link:hover {
    border-bottom: 2px solid black;
  }

  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F9F9F9;
  }
  .main-section__container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-section__title {
    font-size: 28px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .projects-column__title, .tasks-column__title, .workers-column__title {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .projects-column__list, .tasks-column__list, .workers-column__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .projects-column__list-bg-red, .tasks-column__list-bg-red, .workers-column__list-bg-red {
    background-color: #FF5959;
  }
  .projects-column__list-bg-green, .tasks-column__list-bg-green, .workers-column__list-bg-green {
    background-color: #3FFF56;
  }
  .projects-column__list-bg-orng, .tasks-column__list-bg-orng, .workers-column__list-bg-orng {
    background-color: #FF9554;
  }
  .projects-column__list-bg-blue, .tasks-column__list-bg-blue, .workers-column__list-bg-blue {
    background-color: #66BFFF;
    margin-top: 8px;
  }
  .projects-column__item, .tasks-column__item, .workers-column__item {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    border: 0px solid none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #F9F9F9;
  }

  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .form__title {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
  }
  .form__label {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    margin-top: 15px;
  }
  .form__input {
    width: 90%;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 28px;
    margin-top: 5px;
  }
  .form__input-select, .form__input-btn {
    width: 90%;
    padding: 5px;
    margin-top: 15px;
  }
}
@media print {
  @page {
    margin: 2cm;
  }
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
    font-family: 'Raleway', sans-serif;
  }

  .header {
    display: none;
  }

  .main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-section__title {
    font-style: 24pt;
    margin-bottom: 0.5cm;
    font-weight: 600;
  }

  .projects-column, .tasks-column, .workers-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.3cm;
    margin-bottom: 0.3cm;
  }
  .projects-column__title, .tasks-column__title, .workers-column__title {
    font-style: 20pt;
    margin-bottom: 0.3cm;
    font-weight: 500;
  }
  .projects-column__list, .tasks-column__list, .workers-column__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-column__item, .tasks-column__item, .workers-column__item {
    font-size: 14pt;
    padding-left: 1.5cm;
    font-weight: 400;
    margin-bottom: 0.3cm;
  }

  .form {
    display: none;
  }
}
